
<html>
<head>
    <title>Test page </title>
    <script type="text/javascript">

            var slides = [
            "/{{ site.github.repository_name }}/slides/foo001.html",
            "/{{ site.github.repository_name }}/slides/foo002.html",
            "/{{ site.github.repository_name }}/slides/foo003.html",
            "/{{ site.github.repository_name }}/slides/foo004.html",
            "/{{ site.github.repository_name }}/slides/foo005.html"
            ]
    </script>
    <!-- <script type="text/javascript" src="/{{ site.github.url }}/slider.js"></script> -->
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function() {
            console.log(slides);
            var currentSlide = null;
            var nextSlide = 0;
            var previousSlide = null;
            for (key in slides) {
                key = parseInt(key)
                console.log('checking ' + slides[key])
                if (window.location.pathname == slides[key]) {
                    console.log('Im on slide ' + slides[key])
                    currentSlide = key
                    nextSlide = ((key + 1) in slides) ? key + 1 : null
                    previousSlide = ((key - 1) in slides) ? key - 1 : null
                }
            }

            console.log('current ' + currentSlide)
            console.log('next ' + nextSlide)
            console.log('previous ' + previousSlide)
        })
    </script>
</head>
<body>

    <div>
        <p>Content after this</p>
        <p>{{ site.github.repository_name }}</p>
        {{ content }}

    </div>
</body>
</html>
